@mixin liner-gradient($lcolor, $rcolor) {
  background: $lcolor;
  background: -moz-linear-gradient(left, $lcolor 0, $rcolor 100%);
  background: -webkit-linear-gradient(left, $lcolor 0, $rcolor 100%);
  background: linear-gradient(to right, $lcolor 0, $rcolor 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$lcolor', endColorstr='$rcolor', GradientType=1);
}
@mixin tr-background($lcolor, $rcolor) {
  @include liner-gradient($lcolor, $rcolor);
  border: 1px solid;
}

.deploy-list {
  display: table;
  table-layout: fixed;
  position: relative;
  list-style: none;
  width: 100%;
  margin: 0;
  border-spacing: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.deploy-list--row {
  display: table-row;
  overflow: hidden;
  line-height: 40px;
  color: #000;
  cursor: pointer;

  &-pending,
  &-pending+.deploy-list--row-details {
    color: #cacbcd;
  }
  &-running,
  &-running+.deploy-list--row-details {
    color: #4c86b7;
  }
  &-rejected,
  &-rejected+.deploy-list--row-details {
    color: #bc0008;
  }
  &-complete,
  &-complete+.deploy-list--row-details,
  &-accepted,
  &-accepted+.deploy-list--row-details {
    color: #578e31;
  }
}

.deploy-list--row-details {
  display: none;
  overflow: hidden;
  height: 0;

  .deploy-list--row-active+& {
    display: table-row;
    height: 210px;
  }

  .deploy-list--cell {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -11px;
    height: 219px;
    text-align: left;
    padding: 0 20px;
  }
}

.deploy-list--cell {
  display: table-cell;
  text-align: center;

  &.deploy-list--cell-first {
    text-align: left;
    padding-left: 20px;
  }

  &:last-child:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    height: 38px;
    z-index: -1;

    .deploy-list--row-pending &,
    .deploy-list--row-pending+.deploy-list--row-details & {
      @include tr-background(#eaeff7, #ffffff);
    }
    .deploy-list--row-running &,
    .deploy-list--row-running+.deploy-list--row-details & {
      @include tr-background(#eaeff7, #ffffff);
    }
    .deploy-list--row-rejected &,
    .deploy-list--row-rejected+.deploy-list--row-details & {
      @include tr-background(#fbe1e1, #ffffff);
    }
    .deploy-list--row-complete &,
    .deploy-list--row-complete+.deploy-list--row-details &,
    .deploy-list--row-accepted &,
    .deploy-list--row-accepted+.deploy-list--row-details & {
      @include tr-background(#ebf1e9, #ffffff);
    }

    .deploy-list--row-active+.deploy-list--row-details & {
      height: 220px;
      border-top: 0;
    }

    .deploy-list--row-active & {
      border-bottom: 0;
    }
  }

  [class^="icon-"] {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
  }
}

.deploy-list--cell-status-header {
  width: 10%;
}

.deploy-status-line {
  display: inline-block;
  background-color: #d8d8d8;
  border: 1px solid #c5c5c5;
  padding: 1px;
  height: 30px;
  width: 47px;
  line-height: 34px;
  margin-top: 3px;
  vertical-align: top;
  text-align: left;

  .deploy-list--row-active & {
    display: none;
  }
}

.deploy-status-line-inner {
  display: inline-block;
  height: 30px;
  box-sizing: border-box;

  .deploy-status-line-running & {
    background-color: #5e9cd3;
  }
  .deploy-status-line-rejected & {
    background-color: #be0712;
  }
  .deploy-status-line-complete & {
    background-color: #548039;
  }
}

.deploy-list--details-column {
  float:left;
  width: 20%;
  text-align: center;
}

.deploy-list--details-box {
  display: inline-block;
  width: 190px;
  height: 190px;
  color: #c5c5c5;
  margin-top: 10px;
  border: 2px solid;

  &-running {
    color: #5e9cd3;
  }
  &-rejected {
    color: #be0712;
  }
  &-complete {
    color: #548039;
  }

  .deploy-list--details-trend-name {
    display: block;
    color: #000;
    font-size: 13px;
    line-height: 1;
  }
}
.deploy-list--details-trend {
  width: 95px;
  height: 95px;
  float: left;

  .deploy-list--details-trend-value {
    position: relative;
    z-index: 1;
  }

  .icon-arrow {
    position: relative;
    display: block;
    width: 95px;
    height: 40px;
    padding-top: 20px;

    &:before {
      position: absolute;
      font-size: 3em;
      display: block;
      width: 95px;
      margin-top: -15px;
    }
  }

  &-same {
    .deploy-list--details-trend-value {
      color: #000;
    }
    .icon-arrow:before {
      color: #fed86e;
    }
  }
  &-down {
    .deploy-list--details-trend-value {
      color: #fff;
    }
    .icon-arrow:before {
      color: #be0712;
    }
  }
  &-up {
    .deploy-list--details-trend-value {
      color: #fff;
    }
    .icon-arrow:before {
      color: #548039;
    }
  }
}
