@import url('//fonts.googleapis.com/css?family=Roboto:400,500,700');

@font-face {
  font-family: 'icons';
  src: url('/fonts/icons.eot?u4gfrx');
  src: url('/fonts/icons.eot?u4gfrx#iefix') format('embedded-opentype'),
  url('/fonts/icons.ttf?u4gfrx') format('truetype'),
  url('/fonts/icons.woff?u4gfrx') format('woff'),
  url('/fonts/icons.svg?u4gfrx#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-build:before {
  content: "\e901";
}

.icon-firewall:before {
  content: "\e902";
}
