// bower:scss
// endbower
@import "fonts";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font: 100%/1.2 'Roboto', sans-serif;
  background: #f5f8fb;
  background: -moz-linear-gradient(left, #f5f8fb 0%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #f5f8fb 0%,#ffffff 100%);
  background: linear-gradient(to right, #f5f8fb 0%,#ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f8fb', endColorstr='#ffffff',GradientType=1 );
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@import "deploy-list";
