
<div class="deploy-list--row deploy-list--row-header">
  <div class="deploy-list--cell deploy-list--cell-first">Changelist / Build</div>
  <div class="deploy-list--cell">Owner</div>
  <div class="deploy-list--cell">Time started</div>
  <div class="deploy-list--cell">State</div>

  <div class="deploy-list--cell deploy-list--cell-status-header">Metrics</div>
  <div class="deploy-list--cell deploy-list--cell-status-header">Build</div>
  <div class="deploy-list--cell deploy-list--cell-status-header">Unit Test</div>
  <div class="deploy-list--cell deploy-list--cell-status-header">Functional Test</div>
</div>

<div
  data-ng-repeat-start="deploy in list"
  data-ng-class="['deploy-list--row', 'deploy-list--row-' + deploy.state.toLowerCase(), active === deploy.id ? 'deploy-list--row-active' : '']"
  data-ng-click="onClick(deploy.id)"
>
  <div class="deploy-list--cell deploy-list--cell-first">
    <span class="icon-firewall">&nbsp;</span> <span data-ng-bind="deploy.name">&nbsp;</span>
  </div>
  <div class="deploy-list--cell" data-ng-bind="deploy.owner">&nbsp;</div>
  <div class="deploy-list--cell" data-ng-bind="deploy.timeStart">&nbsp;</div>
  <div class="deploy-list--cell" data-ng-bind="deploy.state">Pending</div>

  <div class="deploy-list--cell">
    <span
      data-ng-class="['deploy-status-line', 'deploy-status-line-' + deploy.metrics.state]">
      <span
        class="deploy-status-line-inner"
        data-ng-style="{width: deploy.metrics.progress}">&nbsp;</span>
    </span>
  </div>
  <div class="deploy-list--cell">
    <span
      data-ng-class="['deploy-status-line', 'deploy-status-line-' + deploy.build.state]">
      <span
        class="deploy-status-line-inner"
        data-ng-style="{width: deploy.build.progress}">&nbsp;</span>
    </span>
  </div>
  <div class="deploy-list--cell">
    <span
      data-ng-class="['deploy-status-line', 'deploy-status-line-' + deploy.unitTest.state]">
      <span
        class="deploy-status-line-inner"
        data-ng-style="{width: deploy.unitTest.progress}">&nbsp;</span>
    </span>
  </div>
  <div class="deploy-list--cell">
    <span
      data-ng-class="['deploy-status-line', 'deploy-status-line-' + deploy.functionalTest.state]">
      <span
        class="deploy-status-line-inner"
        data-ng-style="{width: deploy.functionalTest.progress}">&nbsp;</span>
    </span>
  </div>
</div>

<div data-ng-repeat-end class="deploy-list--row deploy-list--row-details">
  <div class="deploy-list--cell">
    <div class="deploy-list--details-column">
      <div data-ng-class="['deploy-list--details-box', 'deploy-list--details-box-' + deploy.metrics.state]">
        <div
          data-ng-class="['deploy-list--details-trend', 'deploy-list--details-trend-' + deploy.metrics.trends.test.trend]">
          <span class="deploy-list--details-trend-value-wrapper icon-arrow">
            <span class="deploy-list--details-trend-value" data-ng-bind="deploy.metrics.trends.test.value">0</span>
          </span>
          <span class="deploy-list--details-trend-name">Test</span>
        </div>
        <div
          data-ng-class="['deploy-list--details-trend', 'deploy-list--details-trend-' + deploy.metrics.trends.maintainability.trend]">
          <span class="deploy-list--details-trend-value-wrapper icon-arrow">
            <span class="deploy-list--details-trend-value" data-ng-bind="deploy.metrics.trends.maintainability.value">0</span>
          </span>
          <span class="deploy-list--details-trend-name">Maintainability</span>
        </div>
        <div
          data-ng-class="['deploy-list--details-trend', 'deploy-list--details-trend-' + deploy.metrics.trends.security.trend]">
          <span class="deploy-list--details-trend-value-wrapper icon-arrow">
            <span class="deploy-list--details-trend-value" data-ng-bind="deploy.metrics.trends.security.value">0</span>
          </span>
          <span class="deploy-list--details-trend-name">Security</span>
        </div>
        <div
          data-ng-class="['deploy-list--details-trend', 'deploy-list--details-trend-' + deploy.metrics.trends.workmanship.trend]">
          <span class="deploy-list--details-trend-value-wrapper icon-arrow">
            <span class="deploy-list--details-trend-value" data-ng-bind="deploy.metrics.trends.workmanship.value">0</span>
          </span>
          <span class="deploy-list--details-trend-name">Workmanship</span>
        </div>
      </div>
    </div>
    <div class="deploy-list--details-column">
      <div data-ng-class="['deploy-list--details-box', 'deploy-list--details-box-' + deploy.build.state]">
      </div>
    </div>
    <div class="deploy-list--details-column">
      <div data-ng-class="['deploy-list--details-box', 'deploy-list--details-box-' + deploy.unitTest.state]">
      </div>
    </div>
    <div class="deploy-list--details-column">
      <div data-ng-class="['deploy-list--details-box', 'deploy-list--details-box-' + deploy.functionalTest.state]">
      </div>
    </div>
    <div class="deploy-list--details-column">&nbsp;</div>
  </div>
</div>
